
body{
	background-color: $bg-color;
	font-family:Helvetica, Arial, sans-serif;
	color:$text-color;
}

h1 {
	font-size:24px;
}

h2, h3, h4 {
	font-size:20px;
	text-transform: uppercase
}

a {
	color:$text-color;
	text-decoration:none;
	font-weight: bold;
}

p {
	font-family:Georgia;
	font-size:16px;
}