// compass variables

// color
$bg-color:#f7f7F7;
$text-color:#130f30;
$secondary-color:#b6b4b4;

// fonts
$font-sans:Helvetica,Arial, sans-serif;
$font-serif:Georgia;

$big-font-size:20px;
$medium-font-size:16px;
$small-font-size:12px;

