header.grid_12 {
	height:35px;
}

dt {
	min-height:20px;
}
dt > h2 {
	display:inline;
	font-size:16px;
	text-transform: none;
	margin-bottom:0;
}

dd {
	display:block;
	min-height:10px;
}

dd > p {
	display:inline;
	visibility: hidden;
	margin-bottom:0;
}