
@import "compass";
@import "global";
@import "base";
@import "header";
@import "sidebar";
@import "work";
@import "profile";


.content {
	background-color: #ffffff;
	min-height: 100%;
	opacity:0;
	-webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	-moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	-ms-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	-o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

}

.content.loaded{
	opacity:1
}
