// TODO: using section ids is not modular. create "work-article" module with this styles;
.work{
	h4{
		margin-bottom:-5px;
	}
	h5{
		font-size:16px;
		text-transform:uppercase;
		font-weight:normal;
		color:#b6b4b4;
	}	
}
